
@{
    ViewBag.Title = "QCip";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<div class=" body-content">
    <img src="~/img/quangCao/qc6.JPG" />

</div>
<br />
<div class="row">
    <div class="col-3">
        <div class="card">
            <img class="card-img-top" src="~/img/dt/tc/ip5.JPG" alt="Card image cap" style="height:300px">
            <div class="card-body">
                <h3></h3>
                <h3 class="card-title" style="font-weight:bold">iPhone 13 Pro Max 1TB</h3>
                <ins style="font-size: 15px; text-decoration: none; font-weight: bold; color: orangered">48.490.000đ</ins>&nbsp;&nbsp;&nbsp;<del>49.990.000đ</del><br />
                <a style="text-decoration: none;margin-left:200px">@Html.ActionLink("Shopping", "DienThoai_Partial", "SanPham")</a>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <img class="card-img-top" src="~/img/dt/tc/ip6.JPG" alt="Card image cap" style="height:300px">
            <div class="card-body">
                <h3></h3>
                <h3 class="card-title" style="font-weight:bold">iPhone 13 512GB</h3>
                <ins style="font-size: 15px; text-decoration: none; font-weight: bold;color:orangered">32.990.000đ</ins>&nbsp;&nbsp;&nbsp;<del>33.990.000đ</del><br />
                <a style="text-decoration: none;margin-left:200px">@Html.ActionLink("Shopping", "DienThoai_Partial", "SanPham")</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img class="card-img-top" src="~/img/dt/tc/ip7.JPG" alt="Card image cap" style="height:300px">
            <div class="card-body">
                <h3></h3>
                <h3 class="card-title" style="font-weight:bold">iPhone 13 mini 512GB</h3>
                <ins style="font-size: 15px; text-decoration: none; font-weight: bold; color: orangered">29.990.000đ</ins>&nbsp;&nbsp;&nbsp;<del>30.990.000đ</del><br />
                <a style="text-decoration: none;margin-left:200px">@Html.ActionLink("Shopping", "DienThoai_Partial", "SanPham")</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img class="card-img-top" src="~/img/dt/tc/ip8.JPG" alt="Card image cap" style="height:300px">
            <div class="card-body">
                <h3></h3>
                <h3 class="card-title" style="font-weight:bold">iPhone 13 Pro Max 512GB</h3>
                <ins style="font-size: 15px; text-decoration: none; font-weight: bold; color: orangered">42.990.000đ</ins>&nbsp;&nbsp;&nbsp;<del>43.990.000đ</del><br />
                <a style="text-decoration: none;margin-left:200px">@Html.ActionLink("Shopping", "DienThoai_Partial", "SanPham")</a>
            </div>
        </div>
    </div>
</div>
