
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<!-- Carosel -->
<div class="slider-area">
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">
            <li>
                <img src="~/img/quangCao/quangCao1.PNG" alt="Slide" style="width:60%;height:250px">
                <div class="caption-group" style="margin-left:450px">
                    <h2>
                        Galaxy Z Fold3 5G<br />
                        <span class="primary" style="color:coral">Hoàn tiền <strong>1 triệu<br />
                               </strong> Ưu đãi <strong>6 triệu</strong></span>
                    </h2>

                    <a class="caption button-radius" href="QC"><span class="icon"></span>Shop now</a>
                </div>
            </li>
            <li>

                <img src="~/img/quangCao/qc6.JPG" alt="Slide" style="width:60%;height:250px">
                <div class="caption-group"  style="margin-left:450px">
                    <h2>
                        Iphone 13 Pro<br />
                        <span class="primary" style="color:coral">Giảm đến <strong>1.5 triệu<br />
                               </strong> Giảm thêm <strong>500.000đ</strong></span>
                    </h2>
                    <a class="caption button-radius" href="QC"><span class="icon"></span>Shop now</a>
                </div>

            </li>
            <li>
                <img src="~/img/quangCao/quangCao3.PNG" alt="Slide" style="width:60%;height:250px">
                <div class="caption-group" style="margin-left:450px">
                    <h2>
                        Renno6<br />
                        <span class="primary" style="color:coral">
                            Tặng loa <strong>
                                Tekin L6<br /></strong>
                        </span>
                    </h2>
                    <a class="caption button-radius" href="QC"><span class="icon"></span>Shop now</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- ./Slider -->
</div>

<!-- Quang cao -->
<div class="promo-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo1">
                    <i class="fa fa-refresh"></i>
                    <p>30 Days return</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo2">
                    <i class="fa fa-truck"></i>
                    <p>Free shipping</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo3">
                    <i class="fa fa-lock"></i>
                    <p>Secure payments</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo4">
                    <i class="fa fa-gift"></i>
                    <p>New products</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Brand -->
<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-wrapper">
                    <div class="brand-list">
                        <img src="~/img/brand/ip.PNG" alt="">
                        <img src="~/img/brand/ss.PNG" alt="">
                        <img src="~/img/brand/opo.PNG" alt="">
                        <img src="~/img/brand/xi.PNG" alt="">
                        <img src="~/img/brand/re.PNG" alt="">
                        <img src="~/img/brand/vivo.PNG" alt="">
                        <img src="~/img/brand/no.PNG" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Điện thoại -->
<div class="maincontent-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product"><br />
                    <h2 class="section-title">SẢN PHẨM MỚI</h2>
                    <div class="product-carousel">
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/img/dt/tc/ip1.PNG" alt="">
                                <div class="product-hover">
                                    <a href="QCip" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2>iPhone 13 Pro Max</h2>

                            <div class="product-carousel-price">
                                <ins>33.990.000đ</ins>
                            </div>
                        </div>

                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/img/dt/tc/ss1.PNG" alt="">
                                <div class="product-hover">
                                    <a href="QC" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2>SamSung Galaxy Z Fold3</h2>
                            <div class="product-carousel-price">
                                <ins>43.990.000đ</ins> <del>44.990.000đ</del>
                            </div>
                        </div>

                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/img/dt/tc/ss2.PNG" alt="">
                                <div class="product-hover">
                                    <a href="QC" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2>Samsung Galaxy A52s 5G</h2>

                            <div class="product-carousel-price">
                                <ins>10.290.000đ</ins> <del>10.990.000đ</del>
                            </div>
                        </div>

                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/img/dt/tc/ip4.PNG" alt="">
                                <div class="product-hover">
                                    <a href="QCip" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2>iPhone 12 mini</h2>

                            <div class="product-carousel-price">
                                <ins>16.490.000đ</ins> <del>18.990.000đ</del>
                            </div>
                        </div>

                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/img/dt/tc/ss3.PNG" alt="">
                                <div class="product-hover">
                                    <a href="QC" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2>Samsung Galaxy Z Fold2</h2>

                            <div class="product-carousel-price">
                                <ins>44.000.000đ</ins> <del>50.000.000đ</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/img/dt/tc/ip3.PNG" alt="">
                                <div class="product-hover">
                                    <a href="QCip" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2>iPhone 12 Pro</h2>

                            <div class="product-carousel-price">
                                <ins>27.490.000</ins><del>29.990.000đ</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>