@model QLDT.Models.HangSanXuat

@{
    ViewBag.Title = "HangSanXuat_Delete";
    Layout = "~/Views/Shared/QuanLy.cshtml";
}


<div  class="container" style="width:40%">
    <p style="color:hotpink; font-weight:bold; text-align:center; font-size:25px">
        XÓA HÃNG SẢN XUẤT
    </p>

    <h4>Are you sure you want to delete this?</h4>
    <hr />
    <dl class="dl-horizontal">
        <strong>Mã HSX: </strong>
        @Html.DisplayFor(model => model.MaHSX)<br />

        <strong>Tên HSX: </strong>
            @Html.DisplayFor(model => model.TenHang)

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <center>
            <input type="submit" value="Delete" class="btn btn-warning" />
        </center>
        <br />
        @Html.ActionLink("Back to List", "HangSanXuat_Show", "QuanLy")
    </div>
    }
</div>
