<span style="float:right">
    <a href="@Url.Action("GioHang","GioHang")" style="float:right">
        <i class="fas fa-shopping-basket fa-2x" style="color:orangered"></i>(@ViewBag.TongSoLuong)
    </a>
</span>
